/.vs/

RobotControl/bin/Debug/logs
RobotControl/bin/Debug/*.bk
RobotControl/bin/Debug/*.pak
RobotControl/bin/Debug/*.log
RobotControl/bin/Debug/*.bin
RobotControl/bin/Debug/*.json
RobotControl/bin/Debug/*.dat
RobotControl/bin/Debug/README.txt
RobotControl/bin/Debug/error.txt
RobotControl/bin/Debug/LICENSE.txt
RobotControl/bin/Debug/*.dll
RobotControl/bin/Debug/*.xml
RobotControl/bin/Debug/*.config
RobotControl/bin/Debug/*.pdb

RobotControl/bin/Release/logs
RobotControl/bin/Release/*.bk
RobotControl/bin/Release/*.pak
RobotControl/bin/Release/*.logs
RobotControl/bin/Release/*.bin
RobotControl/bin/Release/*.json
RobotControl/bin/Release/*.dat
RobotControl/bin/Release/README.txt
RobotControl/bin/Release/error.txt
RobotControl/bin/Release/LICENSE.txt
RobotControl/bin/Release/*.dll
RobotControl/bin/Release/*.xml
RobotControl/bin/Release/*.config
RobotControl/bin/Release/*.pdb

RobotControl/HPSocket

obj/
packages/
RobotControl/RobotControl.csproj.user
*.exe

